:root {
  --vue-up-fill: #2a3642;
  --vue-down-fill: #327859;

  --log-list-height: auto;
  --order-book-table-component-height: auto;
  --order-book-table-title-height: auto.;
}

$mini-mobile-br: 500px;
